!.gitignore

/~/
/Backups/
/User/
/Cache/
/CachedData/
/CachedExtensions/
/Local Storage/
/logs/
Cookies
Cookies-journal
languagepacks.json
machineid
Preferences
storage.json

/moleDownloader/
/temp_mole-downloader/
*.zip

/.vscode/
.sublime-*

munzip
moled
